In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np

In [9]:
data = pd.read_csv('/content/housing.csv')
print(data.describe())

          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [5]:
print(data.dtypes)
print(data.shape)

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object
(20640, 10)

In [6]:
null_values = data.isnull().sum()
print("Null values in each column:\n", null_values)

Null values in each column:
 longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [14]:
print("\nNull Values:")
print(data.isnull().sum())


data.fillna(data.mean(), inplace=True)

Null Values:
longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

<ipython-input-14-9b33ddd97545>:5: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.fillna(data.mean(), inplace=True)

In [11]:
y = data["median_house_value"]
X = data.drop(columns=["median_house_value"],axis=1)

print("Features (X):\n", X.head())
print("\nTarget (y):\n", y.head())

Features (X):
    longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income ocean_proximity
0       322.0       126.0         8.3252        NEAR BAY
1      2401.0      1138.0         8.3014        NEAR BAY
2       496.0       177.0         7.2574        NEAR BAY
3       558.0       219.0         5.6431        NEAR BAY
4       565.0       259.0         3.8462        NEAR BAY

Target (y):
 0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: median_house_value, dtype: float64

In [15]:
from sklearn.preprocessing import MinMaxScaler
data['ocean_proximity'] = data['ocean_proximity'].replace('NEAR BAY', 1)
data['ocean_proximity'] = data['ocean_proximity'].replace('INLAND', 0)
data['median_house_value'] = pd.to_numeric(data['population'], errors='coerce')
scaler = MinMaxScaler()
numerical_columns = data.select_dtypes(include=['float64', 'int64']).columns
data[numerical_columns] = scaler.fit_transform(data[numerical_columns])

print(data)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       0.211155  0.567481            0.784314     0.022331        0.020016
1       0.212151  0.565356            0.392157     0.180503        0.171606
2       0.210159  0.564293            1.000000     0.037260        0.029480
3       0.209163  0.564293            1.000000     0.032352        0.036462
4       0.209163  0.564293            1.000000     0.041330        0.043445
...          ...       ...                 ...          ...             ...
20635   0.324701  0.737513            0.470588     0.042296        0.058029
20636   0.312749  0.738576            0.333333     0.017676        0.023274
20637   0.311753  0.732200            0.313725     0.057277        0.075252
20638   0.301793  0.732200            0.333333     0.047256        0.063460
20639   0.309761  0.725824            0.294118     0.070782        0.095578

       population  households  median_income  median_house_value  \
0        0.008941    0.020556       0.539668            0.008941
1        0.067210    0.186976       0.538027            0.067210
2        0.013818    0.028943       0.466028            0.013818
3        0.015555    0.035849       0.354699            0.015555
4        0.015752    0.042427       0.230776            0.015752
...           ...         ...            ...                 ...
20635    0.023599    0.054103       0.073130            0.023599
20636    0.009894    0.018582       0.141853            0.009894
20637    0.028140    0.071041       0.082764            0.028140
20638    0.020684    0.057227       0.094295            0.020684
20639    0.038790    0.086992       0.130253            0.038790

      ocean_proximity
0                   1
1                   1
2                   1
3                   1
4                   1
...               ...
20635               0
20636               0
20637               0
20638               0
20639               0

[20640 rows x 10 columns]

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

print("Train set shape:", X_train.shape)
print("Test set shape:", X_test.shape)

Train set shape: (16512, 9)
Test set shape: (4128, 9)